.linkAction {
  border-radius: 100px;
  border: 1px solid #fdf9f9;
  background-color: #fbfbfb;
  padding: 0 15px;
  font-size: 13px;
  .linkInput {
    position: relative;
    input {
      border: none;
      outline: none;
      background: none;
      width: 100%;
    }
  }
  .linkButton {
    margin-left: 10px;
    button {
      margin: 0 5px;
    }
  }
}
