.headingAction {
  border-radius: 100px;
  border: 1px solid #fdf9f9;
  background-color: #fbfbfb;
  height: 100%;
  .closeChildAction {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 200;
    margin-top: -10px;
    margin-right: -10px;
    background: red;
    color: white;
  }
}
