.customTextEditor {
  position: relative;
  .public-DraftEditorPlaceholder-inner {
    color: #c8c8c8;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    pointer-events: none;
    top: 0;
    margin-top: -5px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.83em;
  }
  h6 {
    font-size: 0.67em;
  }

  pre {
    border: 1px solid #fdf9f9;
    background-color: #fbfbfb;
    padding: 10px;
    border-radius: 5px;
  }
  link {
    color: red;
  }
}
